doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")

    body
        h1 "Hello World!"
        nav
            ul
                li
                    a(href='/') Home
            block content

        button#btn.
            send AJAX



        script(src="/javascripts/js.js")

